# Collected wisdom from completing (or sort of completing) all free easy or medium SQL challenges on leetcode

## Postgres SQL Useful Functions

- coalesce
- init cap
- left and right - for string character extraction
- where vs having
- count distinct (very slow)
- unnest() array
- union() for vertically combining tables
- is not in  =<>

- agg(col) over (order by col2)

common table expressions (CTE)
with name1 as (query)

- dense_rank() function

- rank() over (order by col desc) name

- dense_rank() vs rank() rank keeps track of position

- lag() and lead() window functions

- datediff()

- date class in postgres

- date_part('year',col) from table

- to_char(col, date-format)

Example: Using COALESCE to Replace NULL Values
Scenario:

You have a table named customer_orders with columns order_id, customer_name, product_id, and quantity. Some of the product_id values might be NULL, indicating that the product information is missing. You want to replace these NULL values with a default value, such as 'Unknown'.

```text
SELECT order_id, customer_name, COALESCE(product_id, 'Unknown') AS product_id, quantity
FROM customer_orders;
```

Explanation:

- COALESCE(product_id, 'Unknown'): This part of the query replaces any NULL values in the product_id column with the string 'Unknown'.
- The rest of the query simply selects the desired columns from the customer_orders table.

This query will return the same data as the original table, but with any NULL values in the product_id column replaced with 'Unknown'. This can be useful for data analysis or reporting purposes, where it's important to have complete data.