# Collected wisdom from completing (or sort of completing) all free easy or medium SQL challenges on leetcode

## Postgres SQL Useful Functions

- coalesce
- init cap
- left and right - for string character extraction
- where vs having
- count distinct (very slow)
- unnest() array
- union() for vertically combining tables
- is not in  =<>

- agg(col) over (order by col2)

common table expressions (CTE)
with name1 as (query)

- dense_rank() function

- rank() over (order by col desc) name

- dense_rank() vs rank() rank keeps track of position

- lag() and lead() window functions

- datediff()

- date class in postgres

- date_part('year',col) from table

- to_char(col, date-format)

## Example: Using COALESCE to Replace NULL Values

Scenario:

You have a table named customer_orders with columns order_id, customer_name, product_id, and quantity. Some of the product_id values might be NULL, indicating that the product information is missing. You want to replace these NULL values with a default value, such as 'Unknown'.

```text
SELECT order_id, customer_name, COALESCE(product_id, 'Unknown') AS product_id, quantity
FROM customer_orders;
```

Explanation:

- COALESCE(product_id, 'Unknown'): This part of the query replaces any NULL values in the product_id column with the string 'Unknown'.
- The rest of the query simply selects the desired columns from the customer_orders table.

This query will return the same data as the original table, but with any NULL values in the product_id column replaced with 'Unknown'. This can be useful for data analysis or reporting purposes, where it's important to have complete data.

## Example: Formatting Names with INITCAP()

Scenario:

You have a table named employees with a column full_name containing employee names in various case formats. You want to standardize the names to proper case (e.g., "john doe" becomes "John Doe").

```text
SELECT employee_id, INITCAP(full_name) AS formatted_name
FROM employees;
```

Explanation:

- INITCAP(full_name): This function applies the INITCAP() function to the full_name column, capitalizing the first letter of each word and converting the rest to lowercase.
- The result is a new column named formatted_name containing the names in proper case format.

This query can be useful for improving data consistency, readability, and searchability in applications where standardized naming conventions are important.

## Example: Extracting First and Last Names from a Full Name

Scenario:

You have a table named customers with a column full_name containing full names in the format "FirstName LastName". You want to extract the first and last names into separate columns.

```text
SELECT customer_id,
       LEFT(full_name, POSITION(' ' IN full_name) - 1) AS first_name,
       RIGHT(full_name, LENGTH(full_name) - POSITION(' ' IN full_name)) AS last_name
FROM customers;
```

Explanation:

- LEFT(full_name, POSITION(' ' IN full_name) - 1): This extracts the substring from the beginning of full_name up to (but not including) the first space, representing the first name.
- RIGHT(full_name, LENGTH(full_name) - POSITION(' ' IN full_name)): This extracts the substring from the first space in full_name to the end, representing the last name.

This query will create two new columns, first_name and last_name, containing the extracted first and last names respectively.

## Example: WHERE vs. HAVING in PostgreSQL

Scenario:

You have a table named orders with columns order_id, customer_id, product_id, and quantity. You want to find customers who have placed more than 5 orders.

Using WHERE:

SQL
```text
SELECT customer_id, COUNT(*) AS total_orders
FROM orders
WHERE quantity > 0
GROUP BY customer_id
HAVING total_orders > 5;
```

Explanation:

- WHERE quantity > 0: This filters the data to only include orders with a quantity greater than 0.
- GROUP BY customer_id: Groups the results by customer_id.
- HAVING total_orders > 5: Filters the grouped results to only include customers with more than 5 orders.

Using HAVING:

SQL

```text
SELECT customer_id, COUNT(*) AS total_orders
FROM orders
GROUP BY customer_id
HAVING COUNT(*) > 5;
```

Explanation:

- GROUP BY customer_id: Groups the results by customer_id.
- HAVING COUNT(*) > 5: Filters the grouped results directly based on the aggregate function COUNT(*).

Key differences:

- WHERE: Filters rows before grouping.
- HAVING: Filters groups after aggregation.

When to use which:

- WHERE: Use WHERE to filter rows based on individual column values.
- HAVING: Use HAVING to filter groups based on aggregated values.   

In this example, both WHERE and HAVING produce the same result. However, HAVING is often more efficient when dealing with large datasets, as it can filter the results after grouping, potentially reducing the amount of data that needs to be processed.