# Python Pandas General Useful Functions

In [4]:
# Generate synthetic dataframe to use for illustration
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

## len(df) 

Number of rows in dataframe. Alternate: shape[0]

In [5]:

# Assuming you have a pandas DataFrame named 'df'
num_rows = len(df)

print("Number of rows in the DataFrame:", num_rows)

# alternate: df.shape[0]

Number of rows in the DataFrame: 3

## len(df.columns) 

Number of columns. Alternate: shape[1]

In [6]:
# Assuming you have a pandas DataFrame named 'df'
num_columns = len(df.columns)

print("Number of columns in the DataFrame:", num_columns)

Number of columns in the DataFrame: 3

## df.insert() 

Here's a code stub using df.insert() to insert a new column named "Category" into the DataFrame df at index 1, filled with the values "A", "B", and "C":

In [7]:
# Assuming you have a pandas DataFrame named 'df'
df.insert(1, "Category", ["A", "B", "C"])

print(df)

      Name Category  Age         City
0    Alice        A   25     New York
1      Bob        B   30  Los Angeles
2  Charlie        C   35      Chicago

## df.drop_duplicates(subset)

Here's a code stub using df.drop_duplicates(subset) to drop duplicates from a subset of a pandas DataFrame:

In [8]:
# Create a sample DataFrame with duplicate values in the 'Name' column
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
        'Age': [25, 30, 25, 35]}
df = pd.DataFrame(data)

# Drop duplicates based on the 'Name' column
df = df.drop_duplicates(subset=['Name'])

print(df)

      Name  Age
0    Alice   25
1      Bob   30
3  Charlie   35

## df.dropna()

subset = list of cols, inplace=false

## df.rename(dict)

rename cols according to dict

## df.fillna()

## pd.concat([df list], axis=0 or 1)

## df.pivot(index, columns, values)

## pd.melt(df, id_vars, value_vars, var_name)

unpivot df

## df.sort_values(column, inplace, ascending)